<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Theme One</title>
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'/>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<script>
function submmit(){
var x = window.event.keyCode;
if(x==13){
alert("enter");
}
}
</script>
</head>
<body>
<div class="wrapper">
  <div class="logo-menu-container">
    <div class="logo">Trade Care</div>
    <div class="menu">
      <ul>
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Team</a></li>
        <li class="nobg"><a href="#">Contact</a></li>
      </ul>
    </div>
  <div class="clear"></div>
 <div class="page1">
    <div class="main-banner">
		<div>
		<h1>
		Specs of asus zenfone :-
		</h1>
		<br>
		<p align="right"> 
		Product deatils
		Product deatils
		Product deatils
		Product deatils
		Product deatils
		</p>
		<img src="C:\Users\KUSH\Downloads\trade  care\spec page\images/asus.jpeg"></img>
		<br>
        <br>
  
  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
  <button>Button 1 </button> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
 <button>Button 2 </button>
		
		</div>	
		
		<br>
		<br>
		<div>
		<br>
		<p align="right"> 
		Product deatils
		Product deatils
		Product deatils
		Product deatils
		Product deatils
		</p>
		<img src="C:\Users\KUSH\Downloads\trade  care\spec page\images/asus.jpeg"></img>
		<br>
        <br>
  
  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
  <button>Button 1 </button> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
 <button>Button 2 </button>
		
		</div><br>
		<br>
		<div>
		<br>
		<p align="right"> 
		Product deatils
		Product deatils
		Product deatils
		Product deatils
		Product deatils
		</p>
		<img src="C:\Users\KUSH\Downloads\trade  care\spec page\images/asus.jpeg"></img>
		<br>
        <br>
  
  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
  <button>Button 1 </button> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
 <button>Button 2 </button>
		
		</div>
		<br>
		<br>
		<div>
		<br>
		<p align="right"> 
		Product deatils
		Product deatils
		Product deatils
		Product deatils
		Product deatils
		</p>
		<img src="C:\Users\KUSH\Downloads\trade  care\spec page\images/asus.jpeg"></img>
		<br>
        <br>
  
  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
  <button>Button 1 </button> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
 <button>Button 2 </button>
		
		</div>
		<br>
		<br>
		<div>
		<br>
		<p align="right"> 
		Product deatils
		Product deatils
		Product deatils
		Product deatils
		Product deatils
		</p>
		<img src="C:\Users\KUSH\Downloads\trade  care\spec page\images/asus.jpeg"></img>
		<br>
        <br>
  
  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
  <button>Button 1 </button> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
 <button>Button 2 </button>
		
		</div>
		<br>
		<br>
		<div>
		<br>
		<p align="right"> 
		Product deatils
		Product deatils
		Product deatils
		Product deatils
		Product deatils
		</p>
		<img src="C:\Users\KUSH\Downloads\trade  care\spec page\images/asus.jpeg"></img>
		<br>
        <br>
  
  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
  <button>Button 1 </button> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
 <button>Button 2 </button>
		
		</div>
		<br>
		<br>
		<div>
		<br>
		<p align="right"> 
		Product deatils
		Product deatils
		Product deatils
		Product deatils
		Product deatils
		</p>
		<img src="C:\Users\KUSH\Downloads\trade  care\spec page\images/asus.jpeg"></img>
		<br>
        <br>
  
  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
  <button>Button 1 </button> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
 <button>Button 2 </button>
		
		</div>
		<br>
		<br>
		<div>
		<br>
		<p align="right"> 
		Product deatils
		Product deatils
		Product deatils
		Product deatils
		Product deatils
		</p>
		<img src="C:\Users\KUSH\Downloads\trade  care\spec page\images/asus.jpeg"></img>
		<br>
        <br>
  
  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
  <button>Button 1 </button> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
 <button>Button 2 </button>
		
		</div>
		<br>
		<br>
		<div>
		<br>
		<p align="right"> 
		Product deatils
		Product deatils
		Product deatils
		Product deatils
		Product deatils
		</p>
		<img src="C:\Users\KUSH\Downloads\trade  care\spec page\images/asus.jpeg"></img>
		<br>
        <br>
  
  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
  <button>Button 1 </button> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
 <button>Button 2 </button>
		
		</div>
		<br>
		<br>
		<div>
		<br>
		<p align="right"> 
		Product deatils
		Product deatils
		Product deatils
		Product deatils
		Product deatils
		</p>
		<img src="C:\Users\KUSH\Downloads\trade  care\spec page\images/asus.jpeg"></img>
		<br>
        <br>
  
  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
  <button>Button 1 </button> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
 <button>Button 2 </button>
		
		</div>
		<br>
		<br>
		<div>
		<br>
		<p align="right"> 
		Product deatils
		Product deatils
		Product deatils
		Product deatils
		Product deatils
		</p>
		<img src="C:\Users\KUSH\Downloads\trade  care\spec page\images/asus.jpeg"></img>
		<br>
        <br>
  
  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
  <button>Button 1 </button> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
 <button>Button 2 </button>
		
		</div>
	</div>
  </div> 		

<div class="copyrights">Copyright (c) Untitled. Design by wwww.alltemplateneeds.com . Photos by photorack.net
  <div class="copyrights-bottom"></div>
</div>
</body>
</html>
