<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Theme One</title>
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'/>
<link href="http://127.0.0.1:8000/static/css/styles.css" rel="stylesheet" type="text/css" />
<script>
function submmit(){
var x = window.event.keyCode;
if(x==13){
var f=document.getElementById("sa").value;
window.location.href = 'http://127.0.0.1:8000/search/'+f;
}
}
</script>
</head>
<body>
<div class="wrapper">
  <div class="logo-menu-container">
    <div class="logo">Trade Care</div>
    <div class="menu">
      <ul>
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Team</a></li>
        <li class="nobg"><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="searchform-container">
    <div class="searchform-content"></div>
    <div class="search">
      <div class="search-input">
        <input type="text" id="sa" onkeypress="submmit()" name="search" class="search-input-textfield" />
      </div>
      
    </div>
  </div>
  <div class="clear"></div>
  <div class="page">
    <div class="main-banner"><img src="http://127.0.0.1:8000/static/images/banner.jpg" alt="banner" /></div>
  </div> 	
<div class="footer-wrapper">
  <div class="footer-top"></div>
  <div class="footer-center">
    <div class="footer-content-left">
      <h1></h1>
      <h2>Sed ultrices tristique magna non accumsan massa vel libero posuere sagitt nisi</h2>
      <p>Aenean sit amet leo elit, nec ornare felis. Fusce laoreet sapien id ipsum pharetra varius. Integer a turpis tortor. Aliquam ac dignissim nibh. Mauris at posuere felis. Proin egestas, dolor ut imperdiet porta, velit lorem luctus massa, a pharetra felis lorem a nulla. </p>
      <p>Vivamus vel augue et nibh accumsan tempus nec sed metus. Nam porta massa non sapien congue lobortis. Nam pulvinar suscipit tellus id vestibulum. </p>
    </div>
    <div class="footer-content-right">
      <h1>Nullam eleme</h1>
      <h2>Nam fermentum ornare dui</h2>
      <p>Proin egestas, dolor ut imperdiet porta, velit lorem luctus massa, a pharetra felis lorem a nulla  ivam.</p>
      <h3>Email: info@untitled.com</h3>
      <h3>Phone: (800) 555-0000</h3>
    </div>
  </div>
  <div class="footer-bottom"></div>
</div>
<div class="clear"></div>
<div class="copyrights">Copyright (c) Untitled. Design by wwww.alltemplateneeds.com . Photos by photorack.net
  <div class="copyrights-bottom"></div>
</div>
</body>
</html>
