<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/css/user.css">
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/css/user.css">
    <script type="text/javascript">
        function submit1(){
        loading();	
        var f=document.getElementById("sa").value;
        var url="http://127.0.0.1:8000/search/"+f
        var s=document.getElementById("f1").action=url
        window.location.href = 'http://127.0.0.1:8000/search/'+f;
        }
        function submita(){
        var f=document.getElementById("sa").value;
        var url="http://127.0.0.1:8000/search/"+f
        var s=document.getElementById("f1").action=url
    //  window.location.href = 'http://127.0.0.1:8000/search/'+f;
        }
        function submit2(){
        loading();	
        var f=document.getElementById("sa").value;
        var url="http://127.0.0.1:8000/search1/"+f
        var s=document.getElementById("f1").action=url
        window.location.href = 'http://127.0.0.1:8000/search1/'+f;
        }
        function loading(){
        document.getElementById('load').style.display="block";
        document.getElementById('f1').style.visibility="hidden";
        document.getElementById('b2').style.visibility="hidden";
        document.getElementById('b1').style.visibility="hidden";
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li role="presentation"><a href="#">Home </a></li>
                    <li role="presentation"><a href="#">Top Searches</a></li>
                    <li role="presentation"><a href="#">About us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <img id="load" class="load" src="http://127.0.0.1:8000/static/loading.gif" style="  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: none;">
    <form class="example" id="f1" action="submit1()" style="visibility: visible;">
    <input type="text" id="sa" onkeyup="submita()" placeholder="Search">
    </form>
    <hr>
    <button id="b1" type="button" onclick="submit1()" style="margin-left: 32%;width:250px;" class="btn btn-primary active">Search product</button>
    <button id="b2" type="button" onclick="submit2()" style="width:250px;" class="btn btn-primary active">Search specification</button>
</body>
</html>