<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Theme One</title>
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'/>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<script>
function submmit(){
var x = window.event.keyCode;
if(x==13){
alert("enter");
}
}
</script>
</head>
<body>
<div class="wrapper">
  <div class="logo-menu-container">
    <div class="logo">Trade Care</div>
    <div class="menu">
      <ul>
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Team</a></li>
        <li class="nobg"><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="searchform-container">
    <div class="searchform-content"></div>
    <div class="search">
      <div class="search-input">
        <input type="text" id="sa" onkeypress="submmit()" name="search" class="search-input-textfield" />
      </div>
      
    </div>
  </div>
  <div class="clear"></div>
  <div class="page1">
  <div>
  <h1>
  Reviews :-
  </h1>
  <br>
  <br>
  <p align="right">
  Nice phone and very light weight I loved the phone thank you asus
Guttapati Varalakshmi

Certified Buyer
4 Oct, 2017
42959
&nbsp
5 ★
Classy product
Great product! Thumbs up to ASUS
Gyan Prakash

Certified Buyer
4 Oct, 2017
56682
&nbsp
5 ★
Perfect product!
Great.. Phone in this range,, fallen in love As i unboxed the Phone..
I prefer everyone to go for this phone
Avinash Rathod

Certified Buyer
5 Oct, 2017
&nbsp
    </p>
	</div>
	<div>
	<br>
	<p align="right">
  Nice phone and very light weight I loved the phone thank you asus
Guttapati Varalakshmi

Certified Buyer
4 Oct, 2017
42959
&nbsp
5 ★
Classy product
Great product! Thumbs up to ASUS
Gyan Prakash

Certified Buyer
4 Oct, 2017
56682
&nbsp
5 ★
Perfect product!
Great.. Phone in this range,, fallen in love As i unboxed the Phone..
I prefer everyone to go for this phone
Avinash Rathod

Certified Buyer
5 Oct, 2017
&nbsp
    </p>
	</div>
	<div>
	<br>
	<p align="right">
  Nice phone and very light weight I loved the phone thank you asus
Guttapati Varalakshmi

Certified Buyer
4 Oct, 2017
42959
&nbsp
5 ★
Classy product
Great product! Thumbs up to ASUS
Gyan Prakash

Certified Buyer
4 Oct, 2017
56682
&nbsp
5 ★
Perfect product!
Great.. Phone in this range,, fallen in love As i unboxed the Phone..
I prefer everyone to go for this phone
Avinash Rathod

Certified Buyer
5 Oct, 2017
&nbsp
    </p>
	</div>
	<div>
	<br>
	<p align="right">
  Nice phone and very light weight I loved the phone thank you asus
Guttapati Varalakshmi

Certified Buyer
4 Oct, 2017
42959
&nbsp
5 ★
Classy product
Great product! Thumbs up to ASUS
Gyan Prakash

Certified Buyer
4 Oct, 2017
56682
&nbsp
5 ★
Perfect product!
Great.. Phone in this range,, fallen in love As i unboxed the Phone..
I prefer everyone to go for this phone
Avinash Rathod

Certified Buyer
5 Oct, 2017
&nbsp
    </p>
	</div>
	<div>
	<br>
	<p align="right">
  Nice phone and very light weight I loved the phone thank you asus
Guttapati Varalakshmi

Certified Buyer
4 Oct, 2017
42959
&nbsp
5 ★
Classy product
Great product! Thumbs up to ASUS
Gyan Prakash

Certified Buyer
4 Oct, 2017
56682
&nbsp
5 ★
Perfect product!
Great.. Phone in this range,, fallen in love As i unboxed the Phone..
I prefer everyone to go for this phone
Avinash Rathod

Certified Buyer
5 Oct, 2017
&nbsp
    </p>
	</div>
	<div>
	<br>
	<p align="right">
  Nice phone and very light weight I loved the phone thank you asus
Guttapati Varalakshmi

Certified Buyer
4 Oct, 2017
42959
&nbsp
5 ★
Classy product
Great product! Thumbs up to ASUS
Gyan Prakash

Certified Buyer
4 Oct, 2017
56682
&nbsp
5 ★
Perfect product!
Great.. Phone in this range,, fallen in love As i unboxed the Phone..
I prefer everyone to go for this phone
Avinash Rathod

Certified Buyer
5 Oct, 2017
&nbsp
    </p>
	</div>
	<div>
	<br>
	<p align="right">
  Nice phone and very light weight I loved the phone thank you asus
Guttapati Varalakshmi

Certified Buyer
4 Oct, 2017
42959
&nbsp
5 ★
Classy product
Great product! Thumbs up to ASUS
Gyan Prakash

Certified Buyer
4 Oct, 2017
56682
&nbsp
5 ★
Perfect product!
Great.. Phone in this range,, fallen in love As i unboxed the Phone..
I prefer everyone to go for this phone
Avinash Rathod

Certified Buyer
5 Oct, 2017
&nbsp
    </p>
	</div>
	<div>
	<br>
	<p align="right">
  Nice phone and very light weight I loved the phone thank you asus
Guttapati Varalakshmi

Certified Buyer
4 Oct, 2017
42959
&nbsp
5 ★
Classy product
Great product! Thumbs up to ASUS
Gyan Prakash

Certified Buyer
4 Oct, 2017
56682
&nbsp
5 ★
Perfect product!
Great.. Phone in this range,, fallen in love As i unboxed the Phone..
I prefer everyone to go for this phone
Avinash Rathod

Certified Buyer
5 Oct, 2017
&nbsp
    </p>
	</div>
	<div>
	<br>
	<p align="right">
  Nice phone and very light weight I loved the phone thank you asus
Guttapati Varalakshmi

Certified Buyer
4 Oct, 2017
42959
&nbsp
5 ★
Classy product
Great product! Thumbs up to ASUS
Gyan Prakash

Certified Buyer
4 Oct, 2017
56682
&nbsp
5 ★
Perfect product!
Great.. Phone in this range,, fallen in love As i unboxed the Phone..
I prefer everyone to go for this phone
Avinash Rathod

Certified Buyer
5 Oct, 2017
&nbsp
    </p>
	</div>
	<div>
	<br>
	<p align="right">
  Nice phone and very light weight I loved the phone thank you asus
Guttapati Varalakshmi

Certified Buyer
4 Oct, 2017
42959
&nbsp
5 ★
Classy product
Great product! Thumbs up to ASUS
Gyan Prakash

Certified Buyer
4 Oct, 2017
56682
&nbsp
5 ★
Perfect product!
Great.. Phone in this range,, fallen in love As i unboxed the Phone..
I prefer everyone to go for this phone
Avinash Rathod

Certified Buyer
5 Oct, 2017
&nbsp
    </p>
	</div>
  </div> 	

  
<div class="clear"></div>
<div class="copyrights">Copyright (c) Untitled. Design by wwww.alltemplateneeds.com . Photos by photorack.net
  <div class="copyrights-bottom"></div>
</div>
</body>
</html>
