.breadcrumb{
  text-align:center;
  background-color:transparent;
  border-bottom:1px solid #eee;
  padding-top:12px;
  padding-bottom:12px;
  margin-bottom:40px;
}

nav.navbar.navbar-default{
  margin-bottom:0px;
}

@media (min-width:992px) {
  .product h2{
    margin-top:0;
  }
}

.navbar .navbar-brand{
  font-size:24px;
  line-height:18px;
}

.reviewer-name{
  margin-right:10px;
}

.site-footer{
  padding:20px 0;
  text-align:center;
}

@media (min-width:768px) {
  .site-footer h5{
    text-align:left;
  }
}

.site-footer h5{
  color:inherit;
  font-size:16px;
}

.site-footer .social-icons a:hover{
  opacity:1;
}

.site-footer .social-icons a{
  display:inline-block;
  width:32px;
  border:none;
  font-size:20px;
  border-radius:50%;
  margin:4px;
  color:#fff;
  text-align:center;
  background-color:#798FA5;
  height:32px;
  opacity:0.8;
  line-height:32px;
}

@media (min-width:768px) {
  .site-footer .social-icons{
    text-align:right;
  }
}

.btn.write-review{
  float:right;
  margin-top:-6px;
}

* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 50%;
  background: #f1f1f1;
  text-align: center;
  margin-top:23%;
  margin-left: 25%;
  transition:0.4s ease-in-out;
}

form.example input[type=text]:focus {
  margin-left: 0%;
  width:100%;
}
/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  margin-top: 23%;
  widht:100%;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}